*{
    box-sizing: border-box;
    margin: 0;
    border:0;
    
    color:white;
}
:root{
    --low-color:#15803d;
    --high-color:#991b1b;
    --background-color:#581c87;
    --control-panel-color:#9333ea;
    --element-color:#a855f7;
}
body{
    background-color: var(--background-color);
}
.container{
    display:grid;
    grid-template: 1fr 5fr/1fr;
    min-height:100vh;

}
.control-panel{
    display:flex;
    justify-content: space-around;
    
}
.control-panel>button{
    width:5vw;
    height: 5vh;
}
.project-display{
    display:grid;
    
    grid-template: 2fr 1fr/1fr;
    position: relative;
  

}
.project-display>.urgent{
    display:grid;
    background-color: var(--high-color);
    grid-template-columns:repeat(2, minmax(30vw,55%));
    grid-template-rows:repeat(auto-fill, minmax(15vh,50%));
    min-width:100%;
    max-width: 100%;
    max-height: 40vh;
    overflow-x:hidden;
    overflow-y:scroll;
   
   
    
}
.project-display .non-urgent{
    display:grid;
    background-color: var(--low-color);
    grid-template-columns:repeat(2, minmax(30vw,55%));
    grid-template-rows:repeat(auto-fill, minmax(15vh,50%));
    min-width:100%;
    max-width: 100%;
    max-height: 30vh;
    overflow-x:hidden;
    overflow-y:scroll;
  

}
.project{
    margin:2px;
    border:2px solid white;
    min-width: 100%;
    min-height:15vh;
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
    display:grid;
    grid-template:1fr 3fr/1fr;
    border-radius: 5%;;
    position:relative;
}
.project-top{
    display:flex;
    border: none;
}
.project-top>.project-name{
    flex:1;
    text-align: left;
}
.project-top>.project-dueDate{
    text-align:right;
}
.project>.project-description{
    overflow:hidden;
    max-height: 100%;
    border:none;
}
.project>.delete{
    position:absolute;
    bottom:5px;
    right:5px;
    max-width: 5vw;
    max-height: 5vh;
    
    filter: invert(97%) sepia(26%) saturate(14%) hue-rotate(61deg) brightness(106%) contrast(102%);
}
.project-display>form{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    left: 30vw;
    top: 25vh;
    width:40vw;
    height:50vh;
    background-color: var(--element-color);
    padding:10px;
}
.project .daysLeft{
    position:absolute;
    bottom:10px;
    left:10px;
}
.project-display>form>input{
    color:black;
}
.project-display>form>button{
    color:black;
}
form>img#close{
    position: absolute;
    top:0;
    right:0px;
    max-width: 3vw;
    max-height: 3vh;

}